<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">تهران</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-item nav-link" href="#">ثبت نام متخصص</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">تماس با ما</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">راهنمایی</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">درباره ما</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">بلاگ</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#">کارداری من</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid px-5 my-2">
  <div class="row">
    <div class="col-9 px-5">
      <div class="row justify-content-around">
        <div>
          <a class="badge rounded-pill bg-light text-dark" href="">کابینت سازی</a>
        </div>
        <div>
          <a class="badge rounded-pill bg-light text-dark" href="">نصب کولر آبی</a>
        </div>
        <div>
          <a class="badge rounded-pill bg-light text-dark" href="">نصب کولر گازی</a>
        </div>
        <div>
          <a class="badge rounded-pill bg-light text-dark" href="">لوله کشی</a>
        </div>
        <div>
          <a class="badge rounded-pill bg-light text-dark" href="">نظافت منزل</a>
        </div>
        <div>
          <a class="badge rounded-pill bg-light text-dark" href="">برق ساختمان</a>
        </div>
        <div>
          <a class="badge rounded-pill bg-light text-dark" href="">فیلتر ها</a>
        </div>
        <div>
          <a class="badge rounded-pill bg-primary text-light" href="">دریافت پیشنهاد</a>
        </div>
      </div>
      <hr/>
      <div class="row justify-content-around my-1">
        <div class="border border-success rounded px-5 py-3 col-5">
          <div class="row justify-content-between px-2">
            <div>
              <h5>آقا راموس</h5>
              <h6>گلزنی در فینال های مهم</h6>
            </div>
            <div class="div-img"></div>
          </div>
          <div class="row justify-content-between px-2">
            <span class="border border-success rounded p-1 color-success">4.4</span>
            <span>دارای احراز هویت</span>
          </div>
          <hr/>
          <div class="row justify-content-end">
            <span class="badge rounded-pill bg-light mx-1" >گواهی مهارت</span>
            <span class="badge rounded-pill bg-light mx-1" >دارای سوء پیشینه</span>
          </div>
        </div>
        <div class="border border-success rounded px-5 py-3 col-5">
          <div class="row justify-content-between px-2">
            <div>
              <h5>آقا راموس</h5>
              <h6>گلزنی در فینال های مهم</h6>
            </div>
            <div class="div-img"></div>
          </div>
          <div class="row justify-content-between px-2">
            <span class="border border-success rounded p-1 color-success">4.4</span>
            <span>دارای احراز هویت</span>
          </div>
          <hr/>
          <div class="row justify-content-end">
            <span class="badge rounded-pill bg-light mx-1" >گواهی مهارت</span>
            <span class="badge rounded-pill bg-light mx-1" >دارای سوء پیشینه</span>
          </div>
        </div>       
    </div>
    <div class="row justify-content-around my-1">
      <div class="border border-success rounded px-5 py-3 col-5">
        <div class="row justify-content-between px-2">
          <div>
            <h5>آقا راموس</h5>
            <h6>گلزنی در فینال های مهم</h6>
          </div>
          <div class="div-img"></div>
        </div>
        <div class="row justify-content-between px-2">
          <span class="border border-success rounded p-1 color-success">4.4</span>
          <span>دارای احراز هویت</span>
        </div>
        <hr/>
        <div class="row justify-content-end">
          <span class="badge rounded-pill bg-light mx-1" >گواهی مهارت</span>
          <span class="badge rounded-pill bg-light mx-1" >دارای سوء پیشینه</span>
        </div>
      </div>
      <div class="border border-success rounded px-5 py-3 col-5">
        <div class="row justify-content-between px-2">
          <div>
            <h5>آقا راموس</h5>
            <h6>گلزنی در فینال های مهم</h6>
          </div>
          <div class="div-img"></div>
        </div>
        <div class="row justify-content-between px-2">
          <span class="border border-success rounded p-1 color-success">4.4</span>
          <span>دارای احراز هویت</span>
        </div>
        <hr/>
        <div class="row justify-content-end">
          <span class="badge rounded-pill bg-light mx-1" >گواهی مهارت</span>
          <span class="badge rounded-pill bg-light mx-1" >دارای سوء پیشینه</span>
        </div>
      </div>       
  </div>
  <div class="row justify-content-around my-1">
    <div class="border border-success rounded px-5 py-3 col-5">
      <div class="row justify-content-between px-2">
        <div>
          <h5>آقا راموس</h5>
          <h6>گلزنی در فینال های مهم</h6>
        </div>
        <div class="div-img"></div>
      </div>
      <div class="row justify-content-between px-2">
        <span class="border border-success rounded p-1 color-success">4.4</span>
        <span>دارای احراز هویت</span>
      </div>
      <hr/>
      <div class="row justify-content-end">
        <span class="badge rounded-pill bg-light mx-1" >گواهی مهارت</span>
        <span class="badge rounded-pill bg-light mx-1" >دارای سوء پیشینه</span>
      </div>
    </div>
    <div class="border border-success rounded px-5 py-3 col-5">
      <div class="row justify-content-between px-2">
        <div>
          <h5>آقا راموس</h5>
          <h6>گلزنی در فینال های مهم</h6>
        </div>
        <div class="div-img"></div>
      </div>
      <div class="row justify-content-between px-2">
        <span class="border border-success rounded p-1 color-success">4.4</span>
        <span>دارای احراز هویت</span>
      </div>
      <hr/>
      <div class="row justify-content-end">
        <span class="badge rounded-pill bg-light mx-1" >گواهی مهارت</span>
        <span class="badge rounded-pill bg-light mx-1" >دارای سوء پیشینه</span>
      </div>
    </div>       
</div>
    
  </div>
  <div class="col-3">
    <h3>دسته بندی</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="جستجو" aria-label="جستجو" aria-describedby="basic-addon1">
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">نظافت و شستوشو</a>
      <a href="#" class="list-group-item list-group-item-action">برق و الکترونیک</a>
      <a href="#" class="list-group-item list-group-item-action">خدمات خودرو</a>
      <a href="#" class="list-group-item list-group-item-action">تاسیسات ساختمان</a>
      <a href="#" class="list-group-item list-group-item-action">حمل و نقل</a>
      <a href="#" class="list-group-item list-group-item-action">آموزش</a>
      <a href="#" class="list-group-item list-group-item-action">امور ساختمات</a>
    </div>
    <hr/>
  </div>
</div>